<section id="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="home-info">
          <h1>Welcome to Wellness Card! <br />Please login to continue:</h1>
          <!-- You can change the date time in init.js file -->
          <div class="login-form">
            <form action="" method="get">
              <label for="email" class="login-label">Email:</label><br />
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter your email"
                required=""
              />
              <label for="password" class="login-label">Password:</label><br />
              <input
                type="password"
                name="password"
                class="form-control"
                required=""
              />
              <button type="submit" class="form-control"><i
                  class="fa fa-envelope-o"
                ></i></button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>